@tailwind base;

/**********************************************/
/* add custom base styles and font-faces here */

/*Utility classes*/

.absolute-center {
    @apply absolute block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.absolute-center-x {
    @apply absolute block;
    left: 50%;
    transform: translate(-50%, 0%);
}

.absolute-center-y {
    @apply absolute block;
    top: 50%;
    transform: translate(0%, -50%);
}

.overlay-children {
    display: grid;
    grid-template-columns: 1fr;
}
.overlay-children > * {
    grid-row-start: 1;
    grid-column-start: 1;
}

.cover {
    @apply object-cover min-h-full min-w-full;
}

/*Object-specific classes*/

.line-break {
    @apply mx-auto my-2;
    height: 8px;
    width: 80px;
}

.gradient-overlay {
    background-image: linear-gradient(to top,rgba(30, 30, 30, 0.8),rgba(30, 30, 30, 0));
}

.bullet {
    right: calc(100% + 0.375rem);
}

.contact-shadow {
    box-shadow: 0px 5px 20px 0px rgba(224,11,47,0.2);
}
.contact-shadow:hover {
    box-shadow: 0px 5px 40px 0px rgba(224,11,47,0.5);
}

/*Magic number classes*/

.max-h-600px {
    max-height: 600px;
}

.max-h-480px {
    max-height: 480px;
}

.max-w-720px {
    max-height: 720px;
}

.h-200px {
    height: 200px;
}

/*Custom fonts*/

@font-face {
    font-family: Soleil;
    src: url(../content/Soleil\ W01\ Regular.woff);
}

@font-face {
    font-family: LeMondLivre;
    src: url(../content/LeMondeLivre\ Normal.woff);
}

@tailwind components;

/**********************************************/
/* extract custom components here */

@tailwind utilities;

/**********************************************/
/* add custom utilities here */